<?xml version="1.0" encoding="UTF-8" ?>
<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.phonegap.helloworld" version="1.0.0">
  <name>LocalNotificationTest</name>
  <description>A test of the local notification plugin.</description>
  <author email="dev@callback.apache.org" href="http://phonegap.com">Some author</author>
  <content src="index.html" />
  <gap:platform name="android" />
  <gap:plugin name="org.apache.cordova.device" version="0.2.8" />
  <gap:plugin name="de.appplant.cordova.plugin.local-notification" version="0.7.4" />
  <gap:config-file platform="android" parent="/manifest/application">
    <activity android:launchMode="singleInstance" />
</gap:config-file>
  <access origin="*" />
</widget>